<div class="view-invoice-wrapper">
  <div class="go-back-action-wrapper" (click)="goBack()">
    <mat-icon class="go-back-icon">chevron_left</mat-icon>
    <p class="go-back-title">Go back</p>
  </div>
  <div class="invoice-status-wrapper">
    <div class="invoice-status">
      <p class="invoice-text">Status</p>
      <div
        class="status-button-wrapper"
        [ngClass]="getInvoiceStatus().toLowerCase()"
      >
        <mat-icon class="status-button-icon">circle</mat-icon>
        <span class="status-button-title">{{ getInvoiceStatus() }}</span>
      </div>
    </div>
    <div class="invoice-actions">
      <button class="invoice-actions-edit" (click)="openEditInvoice()">
        Edit
      </button>
      <button class="invoice-actions-delete">Delete</button>
      <button class="invoice-actions-paid" (click)="markAsPaid()">Mark as Paid</button>
    </div>
  </div>
  <div class="invoice-details">
    <div class="invoice-details-wrapper">
      <div class="invoice-details-header">
        <div class="invoice-details-number">
          <p class="invoice-text-bold">
            <span class="invoice-text">#</span
            >{{ pickedInvoice()?.invoiceNumber }}
          </p>
          <p class="invoice-text">{{ pickedInvoice()?.description }}</p>
        </div>
        <div class="invoice-details-address">
          <p class="invoice-text">
            {{ pickedInvoice()?.senderAddress?.street }}<br />
            {{ pickedInvoice()?.senderAddress?.city }}<br />
            {{ pickedInvoice()?.senderAddress?.postCode }}<br />
            {{ pickedInvoice()?.senderAddress?.country }}
          </p>
        </div>
      </div>
      <div class="invoice-details-body">
        <div class="invoice-details-body-dates">
          <div class="invoice-details-date">
            <p class="invoice-text">Invoice Date</p>
            <p class="invoice-text-bold">{{ pickedInvoice()?.createdAt }}</p>
          </div>
          <div class="invoice-details-date">
            <p class="invoice-text">Payment Due</p>
            <p class="invoice-text-bold">{{ pickedInvoice()?.paymentDue }}</p>
          </div>
        </div>
        <div class="invoice-details-body-billing">
          <p class="invoice-text">Bill To</p>
          <p class="invoice-text-bold">{{ pickedInvoice()?.clientName }}</p>
          <p class="invoice-text">
            {{ pickedInvoice()?.clientAddress?.street }}<br />
            {{ pickedInvoice()?.clientAddress?.city }}<br />
            {{ pickedInvoice()?.clientAddress?.postCode }}<br />
            {{ pickedInvoice()?.clientAddress?.country }}
          </p>
        </div>
        <div class="invoice-details-body-mailing">
          <p class="invoice-text">Sent to</p>
          <p class="invoice-text-bold">{{ pickedInvoice()?.clientEmail }}</p>
        </div>
      </div>
      <div class="invoice-calculation">
        <div class="invoice-calculation-container">
          <div class="invoice-calculation-wrapper">
            <p class="invoice-text">Item Name</p>
            <p class="invoice-text">QTY.</p>
            <p class="invoice-text">Price</p>
            <p class="invoice-text">Total</p>
          </div>
          <div
            class="invoice-calculation-wrapper"
            *ngFor="let item of pickedInvoice()?.items"
          >
            <p class="invoice-text-bold">{{ item.name }}</p>
            <p class="invoice-text-bold">{{ item.quantity }}</p>
            <p class="invoice-text-bold">
              {{ item.price | currency : "GBP" : "symbol-narrow" : "1.2-2" }}
            </p>
            <p class="invoice-text-bold">
              {{ item.total | currency : "GBP" : "symbol-narrow" : "1.2-2" }}
            </p>
          </div>
        </div>
      </div>
      <div class="invoice-total">
        <p class="invoice-total-text">Amount due</p>
        <p class="invoice-total-amount">
          {{
            pickedInvoice()?.total
              | currency : "GBP" : "symbol-narrow" : "1.2-2"
          }}
        </p>
      </div>
    </div>
  </div>
</div>
<app-create-edit-invoice
  *ngIf="showEditInvoice"
  [mode]="'edit'"
  [invoice]="pickedInvoice()"
  (close)="closeEditInvoice()"
  (save)="saveEditedInvoice($event)"
></app-create-edit-invoice>
