.invoice-card-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 730px;
  height: 72px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1004);
  &:hover {
    border: 1px solid #7c5dfa;
  }
  .invoice-number {
    display: flex;
    gap: 1px;
    font-size: 15px;
    font-weight: 700;

    span {
      color: #7e88c3;
    }
  }
  .due-date {
    color: #7e88c3;
  }
  .name {
    color: #858bb2;
  }
  .amount {
    font-size: 15px;
    font-weight: 700;
  }
  .status-wrapper {
    width: 104px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &.paid {
      background-color: rgba(51, 214, 159, 0.1);
      color: #33d69f;
    }

    &.pending {
      background-color: rgba(255, 143, 0, 0.1);
      color: #ff8f00;
    }

    &.draft {
      background-color: rgba(55, 59, 83, 0.1);
      color: #373b53;
    }
    .status-icon {
      width: 8px;
      height: 8px;
      font-size: 8px;
    }
    .status-title {
      font-size: 15px;
      font-weight: 700;
    }
  }
  .arrow {
    height: 20px;
    width: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #7c5dfa;
  }
}
