<div class="dashboard-wrapper">
  <div class="dashboard-heading">
    <div class="dashboard-title">
      <h1 class="title">Invoices</h1>
      <p class="description" *ngIf="totalInvoices() > 0">
        There are {{ totalInvoices() }} total invoices
      </p>
      <p class="description" *ngIf="totalInvoices() <= 0">
        There are no invoices
      </p>
    </div>
    <div class="dashboard-buttons">
      <mat-form-field>
        <mat-label>Filter by status</mat-label>
        <mat-select [formControl]="statuses" multiple>
          @for (status of statusesList; track status) {
          <mat-option [value]="status">{{ status }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button class="invoice-button">
        <div class="icon-wrapper">
          <mat-icon class="button-icon">add</mat-icon>
        </div>
        New Invoice
      </button>
    </div>
  </div>
  <div class="dashboard-content-wrapper">
    @if (filteredInvoices().length > 0) { @for (invoice of filteredInvoices();
    track invoice.invoiceNumber) {
    <div class="invoice-content" (click)="viewInvoice(invoice.invoiceNumber)">
      <app-invoices-list [invoice]="invoice"></app-invoices-list>
    </div>
    } } @else {
    <div class="no-invoices-wrapper">
      <div class="no-invoices-content">
        <img
          src="../../assets/images/empty-invoices-image.png"
          alt="no invoices"
          class="no-invoices-img"
        />
        <h1 class="no-invoices-title">There is nothing here</h1>
        <p class="no-invoices-description">
          Create an invoice by clicking the<br />
          <span class="no-invoices-bold">New Invoice</span> button and get
          started
        </p>
      </div>
    </div>
    }
  </div>
</div>
