<div class="ce-invoice-backdrop"></div>
<div class="ce-invoice-wrapper">
  <div class="ce-invoice">
    <div class="ce-invoice-body">
      This is a sidebar popup for create invoice
    </div>
    <div class="ce-invoice-footer">
      <button (click)="closeInvoice()" class="ce-invoice-discard">
        Discard
      </button>
      <div class="ce-invoice-footer-buttons">
        <button class="ce-invoice-draft">Save as Draft</button>
        <button class="ce-invoice-save">Save & Send</button>
      </div>
    </div>
  </div>
</div>
